# Terraform state и локальные файлы
.terraform/
*.tfstate
*.tfstate.backup
*.auto.tfvars
terraform.tfvars
terraform.tfvars.backup
tfplan

# Секреты и ключи (НИКОГДА не коммитим!)
*.key
*.pem
ssh_key
registry-key.json
fresh-key.json
*_access_key.txt
*_secret_key.txt
*_id.txt
*_ip.txt
*_ips.txt
bucket_name.txt
bucket_access_key.txt
bucket_secret_key.txt

# Локальные окружения и большие папки
venv/
kubespray/
node_modules/
.kube/

# ОС и IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
